/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 
.content {

	padding-top: 30px;

}

.box-wrap {

	position: relative;
	border: 1px solid #dadada;
	border-top: 1px solid #dadada;
	background: #fff;
	margin-bottom: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;

}

.login-logo {

	text-align: center;
	margin: 0 auto;
	margin-top: 100px;

}


.login-header {

	text-align: center;
	border-bottom: none;
	margin-bottom: 20px;

}

.login-wrapper {

	max-width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px;
	padding-top: 15px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

}

.login-wrapper input {

	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	max-width: 300px;
	border: 1px solid #e9e9e9;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;

}

.login-wrapper .btn-main {

	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;


}

.login-options {

	text-align: center;
	padding-top: 26px;
	color: #B8B8B8;

}

.margin-error {

	margin-right: 8px;
	margin-left:10px;

}

.callback-logo {

	text-align: center;
	margin: 0 auto;
	margin-top: 10%;

}


.callback-wrapper {

	max-width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px;
	padding-top: 25px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

}

.callback-wrapper h3 {

	font-size: 25px;
	vertical-align: middle;
	line-height: 33px;

}

.btn-callback {

	background-color: #fff;
	padding: 20px;
	color: #626c72;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;


}

.callback-button {

	text-align: center;
	margin-top: 30px;

}

.btn-callback:hover {

	background-color: #f1f1f1;
	color: #626c72;;

}

.dash-sidebar li {

	color: #ff755a;

}

.dash-sidebar li a {

	color: #ff755a;

}

.dash-sidebar li a:hover {

	color: #FF5736;
	background-color: #f1f1f1;

}

.dash-sidebar li.active a {

	background-color: #ff775a;
	color: #f1f1f1;


}

.dash-sidebar li.active a:hover {

	background-color: #FF5736;

}

.dashboard-item {

	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;

}

h1.dashboard-heading {
	font-size: 25px;
	color: #7D7D7D;
	text-align: center;
	margin-bottom: 20px;

}

.dashboard-item table {
	margin-bottom: 0px;
}

a:hover .box-wrap{
	background: #F7F7F7;
	color: #000;
}

.box-wrap .add-new-button {
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	background: #FF8E78;
	color: #fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
	transition: all .2s;

}

.box-wrap .add-new-button:hover {
	background: #ff755a;
	color: #fff;
	transition: all .2s;
}

.dashboard-item input {
	padding: 25px 15px;
	font-size: 18px;
	border: 1px solid #e9e9e9;
	margin: 10px 0px;
}

.table-wrapper {
	width: 100%;
}
