/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 

.edit {

	background-color: #F1F1F1;
	font-family: "Ubuntu";

}



#content {

	padding-top: 20px;
	max-width: 1400px;
	margin: 0 auto;

}


#sidebar {

  font-family: "Ubuntu";
  color: #636363;

}

 #sidebar, .nav-pills,  li.active, a {

  color: #ff755a;


}

#edit-content {

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #888888;
	background-color: #EBEBEB;
	padding: 25px;
	margin-bottom: 40px;
	box-shadow: inset 1px 0 5px #888888;

}

.form-legend {
	text-align: center;
	font-size: 27px;
	color: #7D7D7D;
	padding-bottom: 20px;
}

.current-image {

	max-height: 250px;
	margin-bottom: 10px;

}

.show-current-image {

	color: #7D7D7D;
	font-weight: 400;

}

#success-message {

	background-color: #ff755a;
	font-family: "Raleway";

}

.success-message {

	left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;

}

.success-message .success-heading {

	font-size: 50px;
	color: #fff;
	padding-top: 40px;
	font-weight: 300;

}

.success-message .success-subheading {

	font-size: 26px;
	color: #fff;
	padding-top: 30px;
	font-weight: 300;

}

.error-retry {

	text-decoration: none;
	color: #9E1A00;
	font-weight: 300;
	font-size: 26px;

}

.error-retry:hover {

	color: #fff;

}

.box-wrap {

	position: relative;
	border: 1px solid #dadada;
	border-top: 1px solid #dadada;
	background: #fff;
	margin-bottom: 30px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;

}

.login-logo {

	text-align: center;
	margin: 0 auto;
	margin-top: 100px;

}


.login-header {

	text-align: center;
	border-bottom: none;
	margin-bottom: 20px;

}

.login-wrapper {

	max-width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px;
	padding-top: 15px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

}

.login-wrapper input {

	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	max-width: 300px;
	border: 1px solid #e9e9e9;
	text-align: center;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;

}

.login-wrapper .btn-main {

	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;


}

.login-options {

	text-align: center;
	padding-top: 26px;
	color: #B8B8B8;

}

.margin-error {

	margin-right: 8px;
	margin-left:10px;

}

.callback-logo {

	text-align: center;
	margin: 0 auto;
	margin-top: 10%;

}


.callback-wrapper {

	max-width: 600px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px;
	padding-top: 25px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

}

.callback-wrapper h3 {

	font-size: 25px;
	vertical-align: middle;
	line-height: 33px;

}

.btn-callback {

	background-color: #fff;
	padding: 20px;
	color: #626c72;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;
	box-shadow: 0 1px 0 rgba(0,0,0,0),0 2px 0 #dadada;


}

.callback-button {

	text-align: center;
	margin-top: 30px;

}

.btn-callback:hover {

	background-color: #f1f1f1;
	color: #626c72;;

}

